@import 'responsive';
@import 'fonts';
$blanco: #fff;
$rojo: red;
$small: 28rem;
$medium: 55rem;
$large: 65rem;
body {
    background: $rojo;
    @include sm {
        // 576px window width and more
        background: lime;
    }
    @include md {
        // 768px window width and more
        background: yellowgreen;
    }
    @include lg {
        // 992px window width and more
        background: palevioletred;
    }
    @include xl {
        // 1200px window width and more
        background: green;
    }
}

section.container .entrada-comp {
    background: darken($blanco, 0%);
    width: 98vw;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

    @include md {
        background: darken($blanco, 0%);
        grid-template-columns: 1fr 1fr;
        width: 96vw;
    }
    @include lg {
        background: darken($blanco, 0%);
        grid-template-columns: 1fr 1fr 1fr;
        width: 92vw;
    }
    @include xl {
        background: darken($blanco, 0%);
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 90vw;
        max-width: 1600px;
    }

    h3 {
        background: rgb(131, 140, 223);
        height: 90px;
        color: #fff;
        padding: 0.5em; //font-size: calc(8px + 0.5vw);
        @include fluid-type(font-size, 400px, 1600px, 12px, 16px);
    }
    .entrada {
        background: rgb(131, 140, 223);
        padding: 0.5em;
        border-radius: 5px;
    }
    .entrada img {
        max-width: 100%;
        /*border-radius: 16px;*/
    }
}



.retinalatina{
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.retinalatina-film img{
    max-width: 200px;
}