body{
    background: lime;
}
section.container{
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    h3{
        background: red;
        height: 70px;
        color: #fff;
    }
    .entrada img{
        max-width: 100%;
    }
}
